.wears{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background:  linear-gradient(180deg, #fde1ff, #e1ffea22 60%);


}
.wears h2{
    font-size: 50px;
    color: #171717;
    font-weight: 700 ;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
}
.wears hr{
    width: 200px;
    height: 6px;
    border-radius: 20px;
    background: #252525;
}

.wears-item{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 100px;
}

