.countHandler{
    width: 60%;
    text-align: center;
    font-weight: bolder;
    background: #ccc;
}

.checkout {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.checkout button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(46, 45, 112);
    color: #fff;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cartItem img {
    width: 120px;
    margin: 20px;
}

.cartItem .description{
    width: 80%;
    font-size: 20px;
    padding: 20px;
}

.countHandler input {
    width: 80px;
    height: 25px;
    text-align: center;
    font-size: larger;
    font-weight: 2rem;
    border: none;
    background: #ccc;
}

.cartItem{
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 30px;
}

.countHandler button{
    width: 20px;
    height: 25px;
    font-size: larger;
    background: #ccc;
    border: none;
    cursor: pointer;
}   

.checkout p {
    font-size: 30px;
    font-weight: bold;
}