
.samDesign {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(219, 188, 188);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 5px 0 rgb(121, 104, 104);
}

.samDesign img {
    width: 350px;
    height: 350px;
    border-radius:  0 0 10px 10px;
    margin-bottom: 10px;
}

.samDesign .price {
    text-align: start;
    font-size: 20px;
    color: brown;
    font-weight: 600;
    margin-bottom: 5px;

}
.samDesign .product-name {
    font-size: 20px;
    color: brown;
    margin: auto 0;
    margin-bottom: 5px;
}
.samDesign img:hover {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.samDesign img:hover {
    transform: scale(1.9);
}

.samDesign .addToCartBtn {
    background-color: grey;
    min-width: 150px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    margin-bottom: 5px;
}
.addToCartBtn:hover {
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
