
.product {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 5px;
}

.product img {
    width: 350px;
    height: 500px;
    overflow: hidden;
    border-radius:  10px 10px;
}

.product .price {
    text-align: center;
    font-size: 20px;
    color: rgb(59, 6, 109);
    font-weight: 600;

}
.product .product-name {
    font-size: 20px;
    color: black;
    margin: auto 0;
}
.product img:hover {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.product img:hover {
    transform: scale(0.9);
}

.product .addToCartBtn {
    background: transparent;
    width: 150px;
    padding: 10px;
    border: 1px solid rgb(63, 61, 65);
    outline: none;
    border-radius: 15px;
    font-size: 13px;
    color: rgb(19, 12, 12);
}

.addToCartBtn:hover {
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

