
.itemDesign {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.itemDesign img {
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius:  10px 10px;
}

.itemDesign .product-name {
    font-size: 20px;
    color: brown;
    margin: auto 0;
}
.itemDesign img:hover {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.itemDesign img:hover {
    transform: scale(0.9);
}

.itemDesign .addToCartBtn {
    background-color: grey;
    min-width: 150px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 13px;
    color: white;
}

.itemDesign .addToCartBtn:hover {
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
