

.exclusive-item img{
    width: 100%;
    min-height: auto;
}

.exclusive-item{
    width: 1520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.exclusive-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.exclusive-content img{
    width: 760px;
    min-height: auto;
}